<!--All products link-->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

<!--Product Catagories-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mountain-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mountain
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mountain-link">
                <a href="" class="dropdown-item">Front Suspension</a>
                <a href="" class="dropdown-item">Full Suspension</a>
                <a href="" class="dropdown-item">All Mountain</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="road-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Road
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="road-link">
                <a href="" class="dropdown-item">Road</a>
                <a href="" class="dropdown-item">Lightweight &amp; Carbon-Fiber</a>
                <a href="" class="dropdown-item">All Road</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="comfort-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Comfort
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="comfort-link">
                <a href="" class="dropdown-item">Standard</a>
                <a href="" class="dropdown-item">Standard &amp; Carrier</a>
                <a href="" class="dropdown-item">All Comfort</a>
            </div>
        </li>
    </ul>
</div>