{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">

        <!-- Announcement list main header -->
        <div class="col-8 offset-2">
            <hr>
            <h2 class="text-center">Announcement List</h2>
            <hr>

            <!-- Announcement list -->
            <ul class="list-group">
                {% for announcement in announcements %}
                <li class="list-group-item">
                    <h3>{{ announcement.title }}</h3>
                    <p>Author: {{ announcement.author.username }}</p>
                    <p>Created On: {{ announcement.created_on }}</p>
                    <!-- Add any other fields you want to display -->
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}