{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">

        <!-- Announcement form main header -->
        <div class="col-8 offset-2">
            <hr>
            <h2 class="text-center">{% if form.instance.pk %}Edit Announcement{% else %}Create Announcement{% endif %}
            </h2>
            <hr>

            <!-- Announcement form -->
            {% if form.instance.pk %}
            <form method="POST" action="{% url 'announcement_edit' pk=form.instance.pk %}">
            {% else %}
                <form method="POST" action="{% url 'announcement_create' %}">
            {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}