{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">

        <!-- Announcement detail main header -->
        <div class="col-8 offset-2">
            <hr>
            <h2 class="text-center">{{ announcement.title }}</h2>
            <hr>

            <!-- Announcement details -->
            <p>Author: {{ announcement.author.username }}</p>
            <p>Created On: {{ announcement.created_on }}</p>
            <p>Updated On: {{ announcement.updated_on }}</p>
            <p>{{ announcement.content }}</p>

            <!-- Buttons for editing and deleting -->
            {% if request.user.is_superuser %}
            <div class="btn-group" role="group">
                <a href="{% url 'announcement_edit' pk=announcement.pk %}" class="btn btn-secondary">Edit</a>
                <form method="POST" action="{% url 'announcement_delete' pk=announcement.pk %}" class="delete-form-button">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to delete this announcement?');">Delete</button>
                </form>
            </div>
            {% endif %}
            {% if request.user.is_superuser %}
            <a href="{% url 'announcement_list' %}" class="btn btn-primary">Announcements List</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}